@charset "utf-8";
html,body,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,fieldset,legend,form,img,p{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}

ul,ol,li{
	list-style:none;
}
i,em,b,strong{
	font-style:normal;
	font-weight:normal;

}
img{
	display:block;
	border:0;
}
.clear:after{
	content:"";height:0;clear:both;display: block;overflow: hidden; visibility:hidden;
}